{% load static %}
<div class="row">
    <div class="col-4 tree-root">
        {% for menu_item in menu_items %}
            {% include "draw_menu/draw_menu_tree.html" %}
        {% endfor %}
    </div>
</div>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("fa-plus");
            this.classList.toggle("fa-minus");
        });
    }

    function getParents(el, parentSelector /* optional */) {
        // If no parentSelector defined will bubble up all the way to *document*
        if (parentSelector === undefined) {
            parentSelector = document;
        }
        var parents_list = [];
        var parent = el.parentNode;
        while (parent !== parentSelector) {
            var current = parent;
            parents_list.push(current);
            parent = current.parentNode;
        }
        parents_list.push(parentSelector); // Push that parentSelector you wanted to stop at
        return parents_list;
    }
    var parents_of_current_tree_element = getParents( document.getElementsByClassName('visible_current_item')[0], document.getElementsByClassName('tree-root')[0]);
    for(i = 0; i < parents_of_current_tree_element.length; i++) {
        if(parents_of_current_tree_element[i].classList.contains('nested')){
            parents_of_current_tree_element[i].classList.toggle("active")
        }
    }


</script>